[Unit]
Description=Cardano Node
Requires=network.target

[Service]
Type=simple
SyslogIdentifier=cardano-node
Restart=always
RestartSec=5
User=cardano
Group=cardano
KillSignal=SIGINT
LimitNOFILE=32768
WorkingDirectory=/home/cardano
ExecStart=/usr/share/cardano-scripts/startNode.sh

[Install]
WantedBy=multi-user.target

