[Unit]
Description=Cardano Passive Node
Requires=network.target

[Service]
Type=simple
SyslogIdentifier=cardano-passive
Restart=always
RestartSec=5
User=cardano
Group=cardano
KillSignal=SIGINT
LimitNOFILE=32768
WorkingDirectory=/home/cardano
ExecStart=/usr/share/cardano/startPassiveNode.sh

[Install]
WantedBy=multi-user.target

